<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardSaver.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ClipboardSaver.My.MySettings>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateDelimiter1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DateDelimiter2" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DateTimeDelimiter" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="TimeDelimiter1" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="TimeDelimiter2" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="TimeDelimiter3" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Extension" serializeAs="String">
                <value>.png</value>
            </setting>
        </ClipboardSaver.My.MySettings>
    </userSettings>
</configuration>